*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height:5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5B202C;
}
.menu{
    gap: 3rem;
    width: 26em;
    justify-content: space-evenly;
    align-items: center;
  
}

.barra-pesquisa{
    display: inline;
    margin: 3rem;
    
}

.logo{
    transform: scale(1.2);
}
.flex{
    display: flex;
}

header input[type="search"] {
    min-width: 35em;
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-right:none ;
    border-radius: 20px 0px 0px 20px;
}

header input::selection[type="search"] {
    border:none;
}

header form button{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-left:none ;
    border-radius: 0px 20px 20px 0px;
    
}

.action{
    width: 24vw;
    justify-content: space-evenly;
}

.action img{
    width: 2em;
}

.action a{
 
    background-color: aliceblue;
    padding: 0.7rem;
    border: 2px solid rgb(62, 62, 62);
    border-radius: 20px;
}

section{
    padding:5%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

section form{
    padding-left:5%;
    padding-right:5%;
    display:flex;
    align-items:center;
    justify-content:center;
}

section form input{
    padding:1px 0 1px 10px;
    border-radius:5px;
    box-shadow:0 0 1px;
    border:none;
}

section form .DP a{
    padding:2.5%;
    width:100%;
    box-shadow:0 0 10px;
    border-radius:15px;
    background-color:#C9415D;
    color:#FFFFFF;
    text-decoration:none;
    text-align:center;
}

.DP img{
    width:15%;
}

section form .DP{
    padding:5.5%;
    border-radius:15px;
    box-shadow: 0px 3px 6px black;
    align-items:center;
    justify-content:center;
}

section form .LE{
    padding:2%;
    border-radius:15px;
    box-shadow: 0 0 10px black;
    display:flex;
    flex-direction:column;
    text-align:start;
    align-items:center;
    justify-content:center;
}

footer{
    padding:5%;
    background-color:#542631;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer hr{
    background-color: rgba(255, 255, 255, 0.323);
    width:20%;    
    rotate:90deg;
}

footer .foot{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#FFFFFF;
}