@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* GERAL */

*{
    padding: 0;
    margin: 0;
    cursor:default;
    outline:none;
    border:none;
    box-sizing:border-box;
}

/* HEADER */

header{
    height:5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5B202C;
}

.menu{
    gap: 3rem;
    width: 26em;
    justify-content: space-evenly;
    align-items: center;
  
}

.barra-pesquisa{
    display: inline;
    margin: 3rem;
    
}

.logo{
    transform: scale(1.2);
}

.flex{
    display: flex;
}

header input[type="search"] {
    min-width: 35em;
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-right:none ;
    border-radius: 20px 0px 0px 20px;
}

header input::selection[type="search"] {
    border:none;
}

header form button{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-left:none ;
    border-radius: 0px 20px 20px 0px;
}

header form button img{
    cursor:pointer;
}

.action{
    width: 24vw;
    justify-content: space-evenly;
}

.action img{
    width: 2em;
}

.action a{
    background-color: aliceblue;
    padding: 0.7rem;
    border: 2px solid rgb(62, 62, 62);
    border-radius: 20px;
}

.action a img{
    cursor:pointer;
}

.menu img{
    cursor:pointer;
}

/* BODY */

section{
    padding:5%;
    display:flex;
    align-items:center;
    gap:50px;
}

section .initial hr{
    border:solid 1px;
}

section h2{
    display:flex;
    align-items:center;
    gap:15px;
}

section img{
    width:8%;
}

section form{
    width:60%;
    padding:2%;
    border:solid 1px #000000;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:25px;
}

section form div{
    display:flex;
    flex-direction:column;
}

section a{
    padding:2%;
    border-radius:10px;
    background-color:#C9415D;
    text-decoration:none;
    color:#FFFFFF;
    cursor:pointer;
}

section button{
    padding:3%;
    border:none;
    border-radius:10px;
    background-color:#C9415D;
    text-decoration:none;
    color:#FFFFFF;
    font-size:20px;
    cursor:pointer;
}

section input{
    padding:1% 1.5%;
    border:solid 1px;
    border-radius:5px;
    outline:unset  #C9415D;
}   



/* FOOTER */

footer{
    padding:5%;
    background-color:#542631;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Inter', sans-serif;
}

footer hr{
    width:40%;    
    rotate:90deg;
    border:solid 1px rgba(255, 255, 255, 0.323);
}

footer .foot{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#FFFFFF;
}