@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* GERAL */

*{
    padding: 0;
    margin: 0;
    cursor:default;
    box-sizing: border-box;
}

header{
    height:5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5B202C;
}

.menu{
    gap: 3rem;
    width: 26em;
    justify-content: space-evenly;
    align-items: center;
  
}

.toggleMenu:active{
    width:2%;
    opacity:.5;
    transition:200ms;
}

.barra-pesquisa{
    display: inline;
    margin: 3rem;
    
}

.logo{
    transform: scale(1.2);
}

.flex{
    display: flex;
}

header input[type="search"] {
    min-width: 35em;
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-right:none ;
    border-radius: 20px 0px 0px 20px;
}

header input::selection[type="search"] {
    border:none;
}

header form button{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-left:none ;
    border-radius: 0px 20px 20px 0px;
}

header form button img{
    cursor:pointer;
}

.action{
    width: 24vw;
    justify-content: space-evenly;
}

.action img{
    width: 2em;
}

.action a{
    background-color: aliceblue;
    padding: 0.7rem;
    border: 2px solid rgb(62, 62, 62);
    border-radius: 20px;
}

.action a img{
    cursor:pointer;
}

.menu img{
    cursor:pointer;
}


header  h1{
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #A18A8D;
    color: #F5F2F0;
    width: 100%;
    height: 200px;
    font-size: 50px;
}

/* Estilos do menu lateral */
.menu-lateral {
    display:none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #6E2738;
    padding-top: 60px;
    color: white;
    z-index:2;
}

.menu-lateral a {
    padding: 15px;
    
    color: #FFFFFF;
    font-size: 18px;
    transition: 0.3s;
}

.menu-lateral a:hover {
    color: #f1f1f1;
}

.fechar-btn {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
}

section{
    width: 80%;
    margin: 10%;
    background-color: #542631;
    border-radius: 10px;
    color: #ffff;
}

section p{
    margin: 60px;
    padding: 20px;
    font-size: 25px;

}



footer{
    display: flex;
    background-color: #542631;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

footer div{
    display: flex;
    flex-direction: column;
}

footer img{ 
    width: 100px;
    height: 100px;
    margin: 50px;
}

footer hr{
    rotate: 180deg;
    height: 200px;
    margin: 100px;
   margin-left: 200px;
}

footer h1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-left: 15px;
    font-size: 30px;
    color: #ffff;
    font-family: sans-serif;
}

.peq{
    display: flex;
   text-align: center;
    font-size: 25px;
    margin-top: 25px;
    gap: 10px;
    color: #ffff;
    font-family: sans-serif;
}